[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
aniso8601 = "==8.0.0"
attrs = "==19.3.0"
click = "==7.0"
docxtpl = "==0.6.3"
flask-restplus = "==0.13.0"
importlib-metadata = "==0.23"
itsdangerous = "==1.1.0"
jsonschema = "==3.2.0"
lxml = "==4.9.1"
more-itertools = "==7.2.0"
pyrsistent = "==0.15.5"
python-docx = "==0.8.7"
pytz = "==2019.3"
six = "==1.13.0"
zipp = "==0.6.0"
Flask = "==1.1.1"
Jinja2 = "==2.10.3"
MarkupSafe = "==1.1.1"
Werkzeug = "==0.16.0"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
